:host {
    display: table-row;
}

.icon {
    /* --slds-c-icon-color-foreground-default: white;
    --slds-c-icon-color-background: blue; */
    --lwc-colorTextIconDefault: blue;
}
.addIcon{
    border: 1px solid lightgray;
    padding: 7.1px;
    margin-right: -1px
}
.customCSsSterikforCombobox{
    color: red;
    position: absolute;
    left: 62px;
    bottom: 20px;
    z-index: 1;    
}
.customCSsSterik{
    color: red;
    position: absolute;
    left: 36px;
    bottom: 20px;
    z-index: 1;
}
.timsheetHeadingicon {
    /* --slds-c-icon-color-foreground-default: white;
    --slds-c-icon-color-background: blue; */
    --lwc-colorTextIconDefault: white;
}

.clockIcon {
    --lwc-colorTextIconDefault: orange;
    zoom: 1.42;
}

.saveIcon {
    --lwc-colorTextIconDefault: rgb(36, 115, 225);
    zoom: 1.38;
}

.notEditable {
    background-color: white;
}

.deleteIcon {
    --lwc-colorTextIconDefault: red;
    padding: 0.37rem;
}
.approveIcon{
    padding: 0.3rem;
    background-color: #3BA755;
}
svg.slds-icon.slds-icon_small {
    padding: 0.2rem;
}
.recallIcon {
    --lwc-colorTextIconDefault: #4a698d;
    padding: 0.61rem;
}

.noTopBorder{ 
    border-top: none;
}

.rejectIcon {
    --slds-c-icon-color-background: red;
    padding: 0.59rem;
}

.table_div_totalhours{
    border: 1px solid black;
    width: 140px;
    float: right;
    height: 24px;
    text-align: center;
    background-color: rgba(226,251,255,255);
}
.strong_class_weektotal{
    margin-left: 725px;
    padding: 3px;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.table_div_weektotal{
    color: black;
    background-color: rgba(125,125,125,255);
    height: 24px;
    width: 855px;
    float: left;
}
.thead .tbody {

    font-family: Verdana;
}
.slds-grid{
    text-align: center;
}
.slds-grid .slds-col .rejectIcon{
    /* position: relative;  */
 }
.columnClasscss{
    text-align: center;
}

/* .slds-grid .slds-col .rejectIcon:hover::after{
    content: attr(title);
    position: absolute;
    top: 100%;
    padding: 5px;
    background-color: rgb(32, 32, 107); 
    color: white; 
    border-radius: 4px;
    border: 1px solid white;
    text-overflow: ellipsis;
    word-break: break-all;
    z-index: 1;
} */
/* .rejectIcon[title]:hover:after {
    
    background-color: yellow;
    color: black;
    border-radius: 4px;
    
    font-size: 12px;
    fill: red;
  } */