.bw-clicked {
    opacity: 1 !important;
    padding-top: 1.5rem !important;
    padding-left: 2.5rem !important;
    max-height: 1000rem !important;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
}