.vlt-radio-button-ftr {
    .bold {
        font-weight: bold !important;
    }
}
label[for="ServiceLocations"],
label[for="ServiceTerm"] {
    padding-left: 0px !important;
    font-weight: 500 !important;
    font-size: 01rem !important;
    color: #00396b !important;
}