.bw-clicked {
    opacity: 1 !important;
    padding-top: 1.5rem !important;
    padding-left: 2.5rem !important;
    max-height: 1000rem !important;
    overflow-x:hidden !important;
    overflow-y:hidden !important;
}

.nds-form-element .nds-form-element__control {
    display: flex;
    flex-wrap: wrap;
}
.leftShift{
    left: 30px;
    position: relative;
}
// .slds-form-element {
//     display: flex;
//     width: 50%;
//     -ms-flex: 0 0 50%;
//     flex: 0 0 50%;
//     max-width: 50%;
// }