.progressBar {
    margin-top: 24%;
    width: 97%;
    margin-left: 1%;
    position: relative;
}

.slds-spinner {
   
    top: 45%;
    left: 37%;
}
.slds-progress-bar__value {   
    background: #0176D3;    
}

.slds-progress-bar__value{
    background: #0176D3;     
}