.vlt-radio-button-ftr {
    .bold {
        font-weight: bold !important;
    }
}
label[for="ServiceLocations"],
label[for="ServiceTerm"] {
    padding-left: 0px !important;
    font-size: 1rem !important;
    font-weight: 700 !important;
}