.circle {
    background: gold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    /* --slds-c-icon-color-foreground-default: white;
    --slds-c-icon-color-background: blue; */
    --lwc-colorTextIconDefault: blue;
}

.timsheetHeadingicon {
    /* --slds-c-icon-color-foreground-default: white;
    --slds-c-icon-color-background: blue; */
    --lwc-colorTextIconDefault: white;
}

.clockIcon {
    --lwc-colorTextIconDefault: orange;
}

.custom_css_timesheet{
    background-color: rgba(44,114,185,255);
    color: white;
    padding: 8px;
    text-align: center;
    width: 198px;
    font-family: Verdana;
}
.header_div_timeentry{
    color: black;
    background-color: rgba(156,201,244,255);
    margin-top: -16px;
    height: 24px;
    padding: 5px 0px 28px;
}
.strong_class_blueline{
    margin-left: 3%;
    font-weight: 800;
}
.th_tableheader_css{
    background-color: rgba(156,201,244,255);
    color: black;
    text-align: center;
}
.c-timesheetnew_timesheetnew{
    width: 500px;    
}
strong{
    font-size:15px;
}
.userdetails_paddingsettings{
    padding-top: 5px;
    font-size: 16px;
    font-family: unset;
    font-weight: 400;
    width: 500px;
}

.btn_css_submit{
    margin-left: 10px;
}

.thead .tbody{
    font-family: Verdana;

}
/* custom css */
.lbg-customcss{
    float: right;
    /* margin-top: 36px;
    margin-left: 23%; */
}
.lb-approve-customcss{
    font-weight: 700;
    font-size: 14px;
    margin-right: 12px;
    font-family: Malgun Gothic;
    --slds-c-button-brand-color-border: #2E844A;
    --slds-c-button-shadow: 3px 5px 5px -2px rgba(0, 0, 0, 0.3);
    --slds-c-button-brand-color-background: #2E844A;
    --slds-c-button-brand-color-background-hover: transparent;
    --slds-c-button-brand-text-color-hover: black;
    --slds-c-button-brand-color-background-hover:#E1EAF3;
    --slds-c-button-brand-text-color: white;
    --slds-c-button-brand-color-background-active:#2E844A;
}
.lb-rejectapp-customcss{
    font-weight: 700;
    font-size: 14px;
    margin-right: 6px;
    font-family: Malgun Gothic;
    --slds-c-button-brand-color-border: #BA0517;
    --slds-c-button-shadow: 3px 5px 5px -2px rgba(0, 0, 0, 0.3);
    --slds-c-button-brand-color-background: #BA0517;
    --slds-c-button-brand-color-background-hover: transparent;
    --slds-c-button-brand-text-color-hover: black;
    --slds-c-button-brand-color-background-hover:#E1EAF3;
    --slds-c-button-brand-text-color: white;
    --slds-c-button-brand-color-background-active: #BA0517;
}
.lb-backToList-customcss{
    font-weight: 900;
    font-size: 14px;
    font-family: Malgun Gothic;
    --slds-c-button-brand-color-border: lightgray;
    --slds-c-button-shadow: 3px 5px 5px -2px rgba(0, 0, 0, 0.3);
    --slds-c-button-brand-color-background: white;
    --slds-c-button-brand-color-background-hover: transparent;
    --slds-c-button-brand-text-color-hover: black;
    --slds-c-button-brand-color-background-hover:#E1EAF3;
    --slds-c-button-brand-text-color: #2C72B9;
    --slds-c-button-brand-color-background-active:rgba(44,114,185,255);
}


@media (max-width: 767px) {
    .tym_prd_wrap {
        flex-flow: wrap;
    }

    .tym_prd_wrap .slds-var-p-around_small {
        width: 50%;
    }

    .tym_prd_wrap .btn_wrap_main { 
        width: 100% !important;
        display: flex;
        justify-content: center;
    }
    /* .lbg-customcss{
        margin-left: 8%;
        margin-bottom: 8%;
    } */
    .lb-approve-customcss{
        margin-right: 3px;
        font-size: 11px;
    }
    .lb-reject-customcss{
        margin-right: 2px;
        font-size: 11px;
    }
    .lb-backToList-customcss{
        font-size: 11px;
    }
}