/*.THIS {
    //#0070d2;
    
    
}*/

.THIS .font  .slds-text-body_regular{
   font-weight: 600;
   font-size:14px;
   color:#0070d2; 
}


.THIS .divStyleBlue{
       color:#0070d2;
       font-size:14px;
       padding:20px;
       font-family: Arial, Helvetica, sans-serif;	
}

.THIS .divStyleBlack{
       color:#17202A;
       font-size:14px;
       padding:20px; 
      font-family: Arial, Helvetica, sans-serif;	
}

.THIS .topBorder{
       font-size:14px;
       padding:20px; 
       border-top: double;
       font-family: Arial, Helvetica, sans-serif;	
}
.THIS .normal{
       font-size:14px;
       padding:20px; 
       font-family: Arial, Helvetica, sans-serif;	
}


.THIS .divStyleBorderBlue{
       color:#0070d2;
       font-size:14px;
       padding:20px; 
       border-top: double;
       font-family: Arial, Helvetica, sans-serif;	
}

.THIS .divStyleBorderBlack{
       color:#17202A;
       font-size:14px;
       padding:20px; 
       border-top: double;
       font-family: Arial, Helvetica, sans-serif;
}

.THIS  .hr.solid {
  border-top: 20px solid #bbb;
}