.circle {
    background: gold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    /* --slds-c-icon-color-foreground-default: white;
    --slds-c-icon-color-background: blue; */
    --lwc-colorTextIconDefault: blue;
}

.timsheetHeadingicon {
    /* --slds-c-icon-color-foreground-default: white;
    --slds-c-icon-color-background: blue; */
    --lwc-colorTextIconDefault: white;
}

.clockIcon {
    --lwc-colorTextIconDefault: orange;
}

.custom_css_timesheet{
    background-color: rgba(44,114,185,255);
    color: white;
    padding: 8px;
    text-align: center;
    width: 198px;
    font-family: inherit;
}
.header_div_timeentry{
    color: black;
    background-color: rgba(156,201,244,255);
    margin-top: -16px;
    height: 24px;
}
.strong_class_blueline{
    margin-left: 3%;
}
.th_tableheader_css{
    background-color: rgba(156,201,244,255);
    color: black;
    text-align: center;
}