.customer-info-table {
    width: 100%;
}
.customer-info-table table{
    border: none;
    border-collapse: collapse;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    th div{
        cursor: pointer;
    }
    tr td{
        padding-right: 20px;
        padding-left: 20px;
    }
}

.arrow {
        border: solid grey;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        height: 0.9rem;
        width: 0.9rem;
        margin: 7px;
        margin-top: 8px;
        border-radius: 2px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        margin-left: 3px;
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        margin-right: 3px;
    }

.sort-true {
    font-weight: bold;
}
.sort-false {
    font-weight: bold;
}

.tm_icon_magenta {
    fill: #1564bf !important;
    padding: 3px;
    cursor: pointer;
}
.disabled_checkbox {
	pointer-events: none !important; //This makes it not clickable
}
.via-slds .slds-table_bordered {
    border-collapse: collapse;
}
input[type="checkbox"]{
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}
.via-slds .slds-button_brand{
    display: block;
}

.list-row {
    font-size: 0.9rem;
    line-height: 2rem;
}
.slds-input {
    width: 100%;
}
.slds-required {
    color: red;
}
#Submit {
    float: right;
}
.vlc-slds-button--tertiary {
    color: #006fd2;
    float: left;
    padding: 8px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}
#SetLocationDueDate_completeBtn {
    background-color: #006fd2;
    float: left;
    padding: 8px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    cursor: pointer;
}

.headindHotCut {
    text-align: center;
    width: 100%;
    font-size: 20px;
    display: block;
    border-bottom: 1px solid #ddd;
}
.vlc-slds-button--footer > div {
    width: 8%;
    float: right;
}
.vlc-slds-button--footer {
    width: 100%;
    float: right;
    border-top: 1px solid #ccc;
    background: #eeeeee;
    padding: 8px;
}