.button-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px; /* Space between the button container and the table */
        }

        .button-div {
            margin-left: 10px; /* Spacing between each div containing a button */
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }