.th_tableheader_css {
    background-color: rgba(156, 201, 244, 255);
    color: black;
    text-align: center;
}

.header_div_timeentry{
    color: black;
    background-color: rgba(156,201,244,255);
    margin-top: -16px;
    height: 24px;
    padding: 5px 0px 28px;
}
.strong_class_blueline{
    margin-left: 3%;
    font-weight: 800;
}

@media (max-width: 767px) {
    .slds-grid.control_wrap {
        flex-flow: wrap;
    }

    .frst_wrap,
    .custommargin {
        width: 100%;
    }
    label.slds-form-element__label {
        font-size:13px !important;
    }
    .frst_wrap .slds-grid .slds-col lightning-combobox.slds-form-element label.slds-form-element__label,
    .custommargin .slds-grid .slds-col lightning-combobox.slds-form-element label.slds-form-element__label{
        font-size: 13px !important;
    }
}
/* .remove_margin_left{
    margin-left: -176px;
} */