<div class="cpq-product-cart-item">
    <div ng-class="{'cpq-transitional-hide': importedScope.isDeleting}" data-cart-item-id="{{::obj.Id.value}}">
        <div class="cpq-item-product" ng-class="{'cpq-item-selected':importedScope.isSelected && !attrs.lineItemModal}">
            <div class="cpq-item-product-header cpq-item-base-product">

                <div ng-repeat="customField in $root.customViews.cpqCustomViews[$root.customViews.currentCustomView].fields" class="cpq-item-base-product-{{customField.data.classSuffix}}" ng-class="{'summary-product-name': customField.name === 'Name', 'summary-product-price': customField.type === 'currency', 'summary-product-default': customField.fieldName === 'Quantity'}">
                    <span ng-if="!$root.vlocity.customLabels[customField.label]">{{obj | getter: customField: 'label' }}</span>
                    <span ng-if="$root.vlocity.customLabels[customField.label]">{{$root.vlocity.customLabels[customField.label][$root.vlocity.userSfLocale]}}</span>
                </div>
                <div class="cpq-item-base-product-cfg-attr slds-p-left_large summary-form-container">
                    Attributes
                </div>
                
            </div>
            <div class="cpq-item-product-messages">
                <ul ng-if="obj.messages.length > 0">
                    <li ng-repeat="msg in obj.messages" class="slds-p-vertical_xx-small">
                        <span class="cpq-error-msg js-error-msg-{{msg.messageId}}" ng-if="msg.severity === 'ERROR'">
                            {{msg.message}}
                            <i ng-init="data.hasError = true"></i>
                        </span>
                        <span class="cpq-warning-msg" ng-if="msg.severity !== 'ERROR'">
                            {{msg.message}}
                        </span>
                    </li>
                </ul>
                <span ng-if="obj.messages.length == 0">
                    <i ng-init="data.hasError = false"></i>
                </span>
                <ul ng-if="obj.fieldValidationMessageList.length > 0" class="slds-p-vertical_xx-small">
                    <li ng-repeat="fieldValidationMessage in obj.fieldValidationMessageList" class="slds-p-vertical_xx-small">
                        <span class="cpq-error-msg js-error-msg">{{fieldValidationMessage}}</span>
                    </li>
                </ul>
            </div>

            <div class="cpq-item-base-product" ng-init="childProdState.show = importedScope.expandMode">

                <div ng-repeat="customField in $root.customViews.cpqCustomViews[$root.customViews.currentCustomView].fields" class="cpq-item-base-product-{{customField.data.classSuffix}}" ng-class="{'cpq-item-currency-value': customField.type === 'currency', 'cpq-item-text-value': customField.type === 'string', 'cpq-item-loyalty-value': customField.type === 'loyalty', 'cpq-item-product-title': customField.name === 'Name', 'summary-product-name': customField.name === 'Name', 'summary-product-price': customField.type === 'currency', 'summary-product-default': customField.fieldName === 'Quantity'}">

                    <!-- Name -->
                    <div ng-if="customField.name === 'Name'">
                        <button class="slds-button cpq-item-has-children summary-product-name" aria-controls="tree0-node1"
                            ng-click="childProdState.show = !childProdState.show"
                            ng-hide="!(obj.lineItems.records || obj.productGroups.records || (attrs.lineItemModal && obj.attributeCategories.records.length > 0))">
                            <slds-button-svg-icon sprite="'utility'" size="'small'" icon="'switch'" extra-classes="'slds-button__icon_left'" 
                                ng-class="{'cpq-fix-slds-close-switch' : !childProdState.show}"></slds-button-svg-icon>
                            <span class="slds-assistive-text">Toggle</span>
                            <span class="cpq-product-name">{{obj.PricebookEntry.Product2.Name}}</span>
                        </button>
                        <div class="cpq-item-no-children summary-product-name" ng-show="!(obj.lineItems.records || obj.childProducts.records || obj.productGroups.records || (attrs.lineItemModal && obj.attributeCategories.records.length > 0))">
                            <span>{{obj.PricebookEntry.Product2.Name}}</span>
                        </div>
                    </div>

                    <!-- Text -->
                    <div ng-if="customField.type === 'string'">{{obj[customField.fieldName]['value']}}</div>
                    <!-- Loyalty-->
                    <div ng-if="customField.type === 'loyalty'">
                        <div ng-if="importedScope.$parent.$parent.tabSelected === 'Cart' || attrs.lineItemModal" cpq-dropdown-handler="showPopover = false">
                            <div class="cpq-loyalty-points">
                                <span ng-click="showPopover = !showPopover" ng-class="{'hovered': showPopover, 'cpq-underline': (obj[customField.fieldName]['actions']['switchpaymentmode'])}">
                                    {{obj[customField.fieldName]['value']}}
                                </span>
                                <!-- Loyalty Code-->
                                {{obj.LoyaltyCode}}
                            </div>    
                            <div class="slds-popover slds-nubbin_bottom-left cpq-price-actions-popover" role="dialog" ng-show="showPopover && (obj[customField.fieldName]['actions']['switchpaymentmode'])">
                                <div class="slds-popover__body cpq-price-actions-popover__body">
                                    <div class="slds-button-group" role="group">
                                        <button class="slds-button slds-button_icon-border" aria-haspopup="true"
                                            title="{{::importedScope.customLabels.CPQPaymentChoice}}"
                                            ng-if="obj[customField.fieldName]['actions']['switchpaymentmode']" 
                                            ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'switchpayment', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'moneybag'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQPaymentChoice}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Input -->
                    <div class="slds-form-element" ng-if="customField.type === 'input'">
                        <div class="slds-form-element__control" ng-class="{'slds-has-error': importedScope[customField.data.validation].indexOf(obj.Id.value) > -1 }">
                            <input type="{{ customField.data.customInputType ? customField.data.customInputType: 'text' }}"
                                min="{{customField.data.minimum}}" step="any" class="slds-input cpq-item-input"
                                ng-model="obj[customField.fieldName].value" 
                                ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 800, 'blur': 0 } }" 
                                ng-change="importedScope.updateLineField(null, obj)"
                                ng-disabled="importedScope.isAsset(obj,customField.fieldName)"
                                ng-required="{{customField.data.required}}" ng-keydown="importedScope.checkQuantityField(customField.fieldName, $event.key)"/>
                        </div>
                    </div>

                    <!-- Price -->
                    <div ng-if="customField.type === 'currency'"> 
                        <div cpq-dropdown-handler="showPopover = false">
                            <div><strike> {{obj[customField.fieldName]['originalValue'] | currency}}</strike></div>
                            <span ng-click="showPopover = !showPopover" ng-class="{'hovered': showPopover, 'cpq-underline': (obj[customField.fieldName]['actions']['applyadjustment'] || obj[customField.fieldName]['actions']['pricedetail'] || obj[customField.fieldName]['actions']['switchpaymentmode'])}">
                                <span  ng-class="{'cpq-item-discount-price': obj[customField.fieldName]['originalValue']}">
                                    {{obj[customField.fieldName]['value'] | currency}}
                                </span>
                            </span>
                            <div class="slds-popover slds-nubbin_bottom-left cpq-price-actions-popover" role="dialog" ng-show="showPopover && (obj[customField.fieldName]['actions']['applyadjustment'] || obj[customField.fieldName]['actions']['pricedetail'] || obj[customField.fieldName]['actions']['switchpaymentmode'])">
                                <div class="slds-popover__body cpq-price-actions-popover__body">
                                    <div class="slds-button-group" role="group">
                                        <button class="slds-button slds-button_icon-border" ng-disabled="obj.orderActive"
                                            title="{{::importedScope.customLabels.CPQChangePrice}}"  
                                            ng-if="obj[customField.fieldName]['actions']['applyadjustment']"
                                            ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'applyadjustment', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'edit'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQChangePrice}}</span>
                                        </button>
                                        <button class="slds-button slds-button_icon-border" aria-haspopup="true"
                                            title="{{::importedScope.customLabels.CPQPriceDetails}}"
                                            ng-if="obj[customField.fieldName]['actions']['pricedetail']" 
                                            ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'pricedetail', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'info'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQPriceDetails}}</span>
                                        </button>
                                        <button class="slds-button slds-button_icon-border" aria-haspopup="true"
                                            title="{{::importedScope.customLabels.CPQPaymentChoice}}"
                                            ng-if="obj[customField.fieldName]['actions']['switchpaymentmode']" 
                                            ng-click="importedScope.openAdjustmentModal(obj[customField.fieldName], 'switchpayment', obj)">
                                            <slds-button-svg-icon sprite="'utility'" icon="'moneybag'"></slds-button-svg-icon>
                                            <span class="slds-assistive-text">{{::importedScope.customLabels.CPQPaymentChoice}}</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div> 

                    <!-- Promotions -->
                    <!-- <div ng-if="customField.type === 'promo'">
                        <div ng-repeat="promoItem in obj[customField.fieldName].records" ng-attr-title="{{promoItem.Name}}" class="cpq-promo-text-wrap" ng-class="{'cpq-promo-name-strike': importedScope.isPromoActionDisconnect(promoItem)}">
                            {{promoItem.Name}}{{$last ? '' : ', '}}
                        </div>
                    </div>  -->

                </div>

                <!-- Attributes -->
                <div class="cpq-item-base-product-cfg-attr summary-form-container">
                    <div class="slds-section slds-is-open" ng-if="obj.attributeCategories.records.length > 0 && childProdState.show">
                        <div ng-show="$root.customViews.cpqCustomViews[$root.customViews.currentCustomView].viewName === 'Configuration Mode'">
                            <div class="slds-section__content slds-m-bottom_small">
                                <div ng-if="!importedScope.reRenderAttributesForm">
                                    <vlocity-dynamic-form 
                                        class="cpq-item-attributes-form slds-form_stacked summary-form"
                                        tooltip-container=".slds-modal"
                                        form-on-change="importedScope.saveUpdates(e, formValidation, obj)"
                                        name="productconfig{{attrs.lineItemModal?'modal':''}}{{obj.Id.value}}"
                                        ng-model="obj.attributeCategories.records"
                                        map-object="{{importedScope.mapObject()}}"
                                        form-auto-save="{{attrs.lineItemModal}}">
                                    </vlocity-dynamic-form>
                                </div>
                            </div>
                        </div>
                        <div ng-show="$root.customViews.cpqCustomViews[$root.customViews.currentCustomView].viewName === 'Summary'">
                            <div class=" slds-m-bottom_small">
                                <div ng-repeat="attributeCategory in obj.attributeCategories.records | limitTo: 1" class="cpq-item-attributes-form slds-form_stacked summary-form">
                                    <div class="summary-item" ng-repeat="productAttribute in attributeCategory.productAttributes.records">
                                        <div>
                                           <strong> {{ productAttribute.label }}</strong>
                                        </div>
                                        <span>
                                            {{ productAttribute.userValues }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cpq-item-base-product-details">
                <div ng-if="(obj.lineItems.records || obj.productGroups.records)" ng-show="childProdState.show">
                    <vloc-layout layout-name="cpq-cart-item-children-summary" ng-model="card" data="card" records="obj" show-product-list="{{attrs.showProductList}}" show-config-panel="{{attrs.showConfigPanel}}" line-item-modal="{{attrs.lineItemModal}}" provisioning-status="{{importedScope.isProvisioningStatusDeleted(obj)}}"></vloc-layout>
                </div>
            </div>
        </div>
    </div>
</div>