.nds-has-error {
    color: #c23934 !important;
}

.easy-pass {
    .nds-form-element__control.nds-form-element__control-animated-label select.ng-dirty.ng-not-empty + label, .via-nds .nds-form-element__control.nds-form-element__control-animated-label select.ng-dirty.ng-not-empty ~ label {
        top: -1rem;
        left: 0;
        font-size: 1rem;
        font-weight: 700;
    }
    // .nds-form-element__control.nds-form-element__control-animated-label .nds-form-element__label {
    //     font-size: 1rem;
    //     font-weight: 700;
    // }
    .nds-cont-wrapper {
        padding: 1rem 0;
    }
    .step-heading {
        align-items: flex-start;
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .step-description {
        
    }
    .nds-form-element__label {
        font-size: 1rem;
        font-weight: 400 !important;
    }
    .nds-form-element__legend > span {
        font-size: 1rem;
    }
    #InfoMessage, #InfoMessage3, #ServiceAddressInfoMessage {
        padding-bottom: 0px;
        margin-bottom: 0px;
        line-height: 1rem;
    }
    #EmailProposalCheckbox ~ label {
        span {
            font-size: 1.125rem;
            color: #16325c;
        }
    }
}